name: Publish library package to NPM
on:
  release:
    types:
      - released

jobs:
  publish:
    name: Build and publish
    runs-on: ubuntu-22.04
    env:
      BUILD_COMMON_LIBRARY: ${{ startsWith(github.ref_name, 'common') }}
      BUILD_CONFIG_LIBRARY: ${{ startsWith(github.ref_name, 'config') }}
      BUILD_LIBRARIAN_LIBRARY: ${{ startsWith(github.ref_name, 'librarian') }}
      BUILD_MONGOOSE_LIBRARY: ${{ startsWith(github.ref_name, 'mongoose') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.12.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Print what should happen
        run: |
          echo "Should build & publish common library: ${{ env.BUILD_COMMON_LIBRARY }}"
          echo "Should build & publish config library: ${{ env.BUILD_CONFIG_LIBRARY }}"
          echo "Should build & publish librarian library: ${{ env.BUILD_LIBRARIAN_LIBRARY }}"
          echo "Should build & publish mongoose library: ${{ env.BUILD_MONGOOSE_LIBRARY }}"
      - name: Build common library
        id: build_common
        if: ${{ env.BUILD_COMMON_LIBRARY == 'true' }}
        run: npm run build:common
      - name: Publish common library
        if: ${{ steps.build_common.outcome == 'success' }}
        working-directory: ./dist/libs/common
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build config library
        id: build_config
        if: ${{ env.BUILD_CONFIG_LIBRARY == 'true' }}
        run: npm run build:config
      - name: Publish config library
        if: ${{ steps.build_config.outcome == 'success' }}
        working-directory: ./dist/libs/config
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build librarian library
        id: build_librarian
        if: ${{ env.BUILD_LIBRARIAN_LIBRARY == 'true' }}
        run: npm run build:librarian
      - name: Publish librarian library
        if: ${{ steps.build_librarian.outcome == 'success' }}
        working-directory: ./dist/libs/librarian
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build mongoose library
        id: build_mongoose
        if: ${{ env.BUILD_MONGOOSE_LIBRARY == 'true' }}
        run: npm run build:mongoose
      - name: Publish mongoose library
        if: ${{ steps.build_mongoose.outcome == 'success' }}
        working-directory: ./dist/libs/mongoose
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
